<footer class="container footer">
	<h2 class="footer__title">get in touch with us</h2>
	<p class="footer__text">
		Maecenas faucibus molli interdum. Cras mattis consectetur purus sitor amet
		sed donec malesuada ullamcorper odio.
		<span>
			Curabitur blandit tempus porttitor vollisky inceptos mollisestor.
		</span>
	</p>
	<ul class="footer__links">
		<li>
			<a class="footer__link footer__link--rss" href="#">
				<img
					class="footer__link-icon"
					src="./images/links/rss-icon.png"
					alt="rss"
				/>
			</a>
		</li>
		<li>
			<a class="footer__link footer__link--facebook" href="#">
				<img
					class="footer__link-icon"
					src="./images/links/facebook-icon.png"
					alt="facebook"
				/>
			</a>
		</li>
		<li>
			<a class="footer__link footer__link--twitter" href="#">
				<img
					class="footer__link-icon"
					src="./images/links/twitter-icon.png"
					alt="twitter"
				/>
			</a>
		</li>
		<li>
			<a class="footer__link footer__link--dribble" href="#">
				<img
					class="footer__link-icon"
					src="./images/links/dribble-icon.png"
					alt="dribble"
				/>
			</a>
		</li>
		<li>
			<a class="footer__link footer__link--pinterest" href="#">
				<img
					class="footer__link-icon"
					src="./images/links/pinterest-icon.png"
					alt="pinterest"
				/>
			</a>
		</li>
	</ul>

	<div class="footer__meta">
		<span class="footer__address">Moonshine St. 14-05 Light City</span>
		<a class="footer__tel" href="tel:+001234567890">+00 (123) 456 78 90</a>
		<a class="footer__email" href="mailto:first.last@email.com">
			first.last@email.com
		</a>
	</div>
</footer>
