<div class="container">
	<header class="header">
		@@include('./_nav.html')

		<picture class="header__img">
			<source
				srcset="./images/header-img-size-l.jpg"
				media="(min-width: 1200px)"
			/>
			<source
				srcset="./images/header-img-size-m.jpg"
				media="(min-width: 760px)"
			/>

			<img src="./images/header-img-size-s.jpg" alt="" />
		</picture>
	</header>
</div>
