<nav class="nav header__nav">
	<button class="nav__hamburger"><span></span></button>
	<ul class="nav__list">
		<li>
			<a href="#" class="nav__link nav__link--current">Home</a>
		</li>
		<li>
			<a href="#" class="nav__link">about us</a>
		</li>
		<li>
			<a href="#" class="nav__link">our journal</a>
		</li>
		<li>
			<a href="#" class="nav__link">projects</a>
		</li>
		<li>
			<a href="#" class="nav__link">news</a>
		</li>
		<li>
			<a href="#" class="nav__link">features</a>
		</li>
		<li>
			<a href="#" class="nav__link">contact</a>
		</li>
	</ul>
</nav>