.switcherWrapper {
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;

	border: 1px solid #ccc;
	border-radius: .25rem;
	overflow: hidden;

}

.switcher {}

.switcherButton {
	padding: 5px 7px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	border: none;
	background-color: transparent;

	transition: background-color .2s;

	&:hover {
		background-color: rgba(0, 0, 0, .1);
	}
}

.switcherButtonCurrent {
	background-color: rgba(0, 0, 0, .8);
	cursor: default;

	&:hover {
		background-color: rgba(0, 0, 0, .8);
	}

	.viewIcon {
		color: #fff;
	}
}

.viewIcon {
	$icon-size: 20px;

	width: $icon-size;
	height: $icon-size;

	transition: color .2s;
}