.holder {
	position: relative;
}

.favouritesButton {
	--cart-size: 35px;
	position: relative;
	padding: 0;
	width: var(--cart-size);
	height: var(--cart-size);
	padding: 5px;
	border: none;
	border-radius: 5px;
	background-color: transparent;
	cursor: pointer;

	transition: background-color .2s;

	&:hover {
		background-color: rgb(0, 0, 0, .1);
	}

	&::after {
		--bubble-size: 15px;
		content: attr(data-products-in-favourites);
		position: absolute;
		top: 0;
		right: 0;
		background-color: rgb(0, 0, 0);
		width: var(--bubble-size);
		height: var(--bubble-size);
		border-radius: 50%;
		color: #fff;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 12px;
	}
}

.infoModal {
	position: absolute;
	z-index: 10;
	top: 100%;
	right: 0;
	width: 350px;
}