// Colors

$color-white: #FFF;
$color-black: #000;

$color-accent: hsla(180, 31%, 49%, 1);
$color-accent--hover: hsla(180, 31%, 39%, 1);

// Text
$color-text-darkest: #4E4E4E;
$color-text-darker: #5C5C5C;
$color-text-dark: #7C7C7C;
$color-text-light: #B9B9B9;

$color-text-main: $color-text-darkest;

// Links
$color-rss: #F8902E;
$color-facebook: #39599F;
$color-twitter: #45B0E3;
$color-dribble: #D97AB0;
$color-pinterest: #CC212C;

// Breakpoints
$size-s: 320px;
$size-m: 768px;
$size-l: 1170px;

// Font
$font-family: 'Roboto', sans-serif;
$font-size: 16px;
$font-size-smaller: 14px;
$font-size-small: 12px;
$font-size-smallest: 11px;