.modalBackground {
	position: fixed;
	z-index: 1;
	inset: 0;
	background-color: rgb(0, 0, 0, 0.4);
}

.modal {
	max-width: 520px;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #fff;
	border-radius: 5px;
	overflow: auto;
	background-color: rgba(231, 76, 60);
	z-index: 2;
}

.modalHeader {
	background-color: rgba(212, 70, 55);
	padding: 20px 30px;
	font-size: 22px;
	font-weight: 500;

	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 20px;
}

.moduleCloseButton {
	width: 25px;
	height: 25px;
	border: none;
	background-color: transparent;
	color: #fff;
	padding: 0;
	cursor: pointer;

	svg {
		width: 100%;
		height: 100%;
	}
}

.modalBody {
	margin: 35px 0;

	p {
		text-align: center;
		padding: 0 35px;
		font-size: 15px;
	}
}

footer {
	padding-bottom: 25px;

	div {
		display: flex;
		justify-content: center;
		gap: 10px;
	}
}