.header {
	padding: 10px;
	box-shadow: 0 2px 5px rgb(0, 0, 0, 0.2);
}

.inner {
	display: flex;
	max-width: 1460px;
	margin: 0 auto;
	align-items: center;
}

.title {
	font-weight: 900;
	font-size: 25px;
}

.counters {
	margin-left: auto;
	display: flex;
	gap: 20px;
}