.header {
	padding: 10px 20px;
	box-shadow: 0 2px 5px rgb(0, 0, 0, 0.2);
}

.inner {
	display: flex;
	max-width: 1460px;
	margin: 0 auto;
	align-items: center;
	justify-content: space-between;
}

.title {
	font-weight: 900;
	font-size: 25px;
}

.counters {
	display: flex;
	gap: 20px;
}

.pages {
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;
	gap: 20px;

	li {
		a {
			text-decoration: none;
			color: inherit;
			font-weight: bold;
			padding: 5px;

			&.current {
				cursor: default;
				border-bottom: 1px solid currentColor;
			}
		}

	}
}