.order {
	padding: 0;
	margin: 0;

	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
	gap: 10px;


	li {
		min-width: 300px;
		border: 1px solid #ccc;
		border-radius: .25rem;
		padding: .5rem;
	}
}

.checkoutBtn {
	cursor: pointer;
	display: block;
	padding: .75rem 1.25rem;
	border: none;
	border-radius: .25rem;
	color: #fff;
	background-color: hsl(0, 0%, 31%);

	transition: background-color .2s;

	&:hover {
		background-color: hsl(0, 0%, 21%);
	}

	&:disabled {
		cursor: default;
		background-color: hsl(0, 0%, 51%);
	}
}

.footer {
	border-top: 1px solid #ccc;
	margin-top: 20px;
	padding: 1rem 0;
	display: flex;
	justify-content: space-between;
}

.total {
	font-size: 1.25rem;

	span {
		font-weight: bold;
	}
}