.cards {
	display: flex;

	gap: 20px 40px;

	padding: 0;
	margin: 0;

	li {
		list-style: none;
		max-width: 250px;
	}

}

.cardView {
	flex-wrap: wrap;
}

.tableView {
	align-items: center;
	flex-direction: column;

	li {
		max-width: 800px;
		width: 100%;
	}
}