.button {
	padding: 15px;
	min-width: 100px;
	font-size: 15px;
	color: #fff;
	background-color: rgb(112, 112, 112);
	border: none;
	border-radius: 5px;
	cursor: pointer;

	&:hover {
		opacity: .9;
	}
}