.card {
	// controlled by li in Cards component
	// max-width: 250px;
	padding: 20px 10px 15px;
	border-radius: 10px;
	box-shadow: 2px 2px 10px rgba(0, 0, 0, .5);
	height: 100%;
	position: relative;
	display: flex;
}

.imgContainer {
	height: 100%;
	max-height: 200px;

	img {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: contain;
	}
}

.title {
	text-align: center;
	margin: .5em 0 .25em;
	font-size: 16px;
}

.mainContent {
	display: flex;
	flex-direction: column;
	font-size: 14px;
	margin-bottom: 10px;
}

.color {
	display: block;

	span {
		font-weight: 500;
	}
}

.id {
	display: block;
	margin-top: 5px;
	font-size: 10px;
	color: rgb(90, 90, 90);
}

.footer {
	display: flex;

	padding: 0;
	font-size: 18px;
}

.price {
	font-weight: bold;

	&::after {
		content: '$';
	}
}

.addToFavouriteButton {
	position: absolute;
	top: 5px;
	right: 10px;
	width: 35px;
	height: 35px;
	padding: 5px;
	border: none;
	border-radius: 5px;
	background-color: transparent;
	cursor: pointer;
	color: rgb(226, 155, 0);

	transition: background-color .2s;

	&:hover {
		background-color: rgba(0, 0, 0, .1);
	}

	svg {
		fill: transparent;
		transition: fill .2s;
	}

	[data-is-favourite="true"] {
		fill: rgb(226, 155, 0);
	}
}

.addToCartButton {
	font-size: 14px;
	padding: .75em;
	background-color: rgba(0, 0, 0, .7);
	border: none;
	color: #fff;
	border-radius: 5px;
	cursor: pointer;

	transition: background-color .2s;

	&:hover {
		background-color: rgba(0, 0, 0, .8);
	}
}

.cardItemView {
	flex-direction: column;
	justify-content: space-between;

	.id {
		margin-left: auto;
	}

	.footer {
		justify-content: space-between;
		align-items: center;
	}
}

.tableItemView {
	flex-direction: row;
	justify-content: start;
	gap: 20px;

	.imgContainer {
		padding: .25rem;
		max-width: 150px;
	}

	.mainContent {
		// max-width: 400px;
		width: 100%;
		gap: 10px;

	}

	.title {
		text-align: left;
	}

	.id {
		margin-left: 0;
	}

	.footer {
		flex: 1 0 auto;
		margin-top: 50px;
		margin-left: auto;
		flex-direction: column;
		justify-content: end;
		align-items: end;
		gap: 20px;
	}

}