a {
	color: inherit;
	text-decoration: none;
}

button {
	border: none;
	outline: none;
}

.container {
	margin-left: auto;
	margin-right: auto;

	padding-left: 25px;
	padding-right: 28px;

	@media (min-width: $size-m) {
		padding-left: 80px;
		padding-right: 92px;
	}

	@media (min-width: $size-l) {
		padding-left: 215px;
		padding-right: 215px;
	}
}

.title {
	font-weight: 700;
	font-size: $font-size-smaller;
	line-height: 22px;
	text-transform: uppercase;

	color: $color-text-darkest;

	&::before {
		content: "- ";
	}

	@media (min-width: $size-m) {
		font-size: $font-size;
	}
}