.cards {
	// display: grid;
	// grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	display: flex;
	flex-wrap: wrap;
	gap: 20px 40px;
	padding: 0;
	margin: 0;

	li {
		list-style: none;
		min-width: 250px;
	}
}