.footer {
	background-color: $color-black;

	padding-top: 38px;
	padding-bottom: 47px;

	@include flex (column, center, center);

	@media (min-width: $size-m) {
		padding-top: 57px;
		padding-bottom: 56px;
	}

	@media (min-width: $size-l) {
		padding-top: 66px;
		padding-bottom: 70px;
	}

	// .footer__title

	&__title {
		margin: 0 0 8px 0;
		font-weight: 700;
		font-size: $font-size-smaller;
		line-height: 22px;
		text-transform: uppercase;

		color: $color-white;

		&::after,
		&::before {
			content: "-";
			margin: 0 4px;
		}

		@media (min-width: $size-m) {
			font-size: $font-size;
			margin-bottom: 22px;
		}
	}

	// .footer__text

	&__text {
		margin: 0;
		font-size: $font-size-small;
		line-height: 20px;
		color: $color-text-light;
		text-align: center;
		max-width: 303px;

		@media (min-width: $size-m) {
			font-size: $font-size;
			max-width: 684px;
			line-height: 28px;
		}

		span {
			display: none;

			@media (min-width: $size-m) {
				display: unset;
			}
		}
	}

	// .footer__links

	&__links {
		margin: 26px 0 25px 0;

		padding: 0;

		display: flex;
		gap: 6px;
		list-style: none;

		@media (min-width: $size-m) {
			margin: 37px 0 34px 0;
		}
	}

	// .footer__link

	&__link {
		@include flex (row, center, center);

		width: 34px;
		height: 34px;

		border-radius: 50%;

		border-width: 2px;
		border-style: solid;

		// .footer__link--rss

		&--rss {
			border-color: $color-rss;
		}

		// .footer__link--facebook

		&--facebook {
			border-color: $color-facebook;
		}

		// .footer__link--twitter

		&--twitter {
			border-color: $color-twitter;
		}

		// .footer__link--dribble

		&--dribble {
			border-color: $color-dribble;
		}

		// .footer__link--pinterest

		&--pinterest {
			border-color: $color-pinterest;
		}
	}

	// .footer__link-icon

	&__link-icon {
		width: max-content;
		height: max-content;
	}

	// .footer__meta

	&__meta {
		text-align: center;
		max-width: 235px;

		@media (min-width: $size-m) {
			max-width: 100%;
		}
	}

	// global styles for meta children

	%style-for-meta {
		font-size: $font-size-smaller;
		line-height: 24px;
		color: $color-text-light;

		white-space: nowrap;
	}

	%divider {
		&::after {
			content: "/";
			margin: 0 10px;
		}
	}

	// .footer__address

	&__address {
		@extend %style-for-meta;

		@extend %divider;
	}

	// .footer__tel

	&__tel {
		@extend %style-for-meta;

		@extend %divider;

		&::before {
			content: 'T. ';
		}
	}

	// .footer__email

	&__email {
		@extend %style-for-meta;

		&:hover {
			text-decoration: underline;
		}
	}
}