.header {

	// .header__nav
	&__nav {
		padding-top: 23px;
		margin-bottom: 23px;


		@media (min-width: $size-m) {
			padding-top: 41px;
			margin-bottom: 43px;
		}

		@media (min-width: $size-l) {
			padding-top: 45px;
			margin-bottom: 51px;
		}
	}
}

.header__img {
	display: block;
	text-align: center;

	img {
		display: block;
		width: 100%;
	}
}