.nav {
	position: relative;

	// .nav__list
	&__list {
		position: absolute;
		z-index: 1;
		top: 60px;
		right: 0;
		width: 208px;
		margin: 0;
		padding: 0;
		list-style: none;

		display: flex;
		flex-direction: column;
		background-color: #F5F5F5;

		transform: translateY(-20px);
		opacity: 0;
		visibility: hidden;

		transition: visibility .1s linear, opacity 0.2s, transform 0.2s;

		&.show {
			transform: translateY(0);
			opacity: 1;
			visibility: visible;
		}

		@media (min-width: $size-m) {
			transform: translate(0);
			visibility: visible;
			opacity: 1;
			position: static;

			margin: 0 auto;
			flex-direction: row;
			width: fit-content;

			background: none;

			gap: 33px;
		}

		@media (min-width: $size-l) {
			gap: 68px;
		}
	}

	// .nav__link
	&__link {
		display: block;
		padding: 12px 14px 10px 14px;
		font-size: 11px;
		line-height: 22px;
		letter-spacing: 1.1px;
		text-transform: uppercase;
		color: $color-text-main;
		transition: color .2s, background-color .2s;

		&--current {
			color: $color-accent;
		}

		&:hover,
		&:focus,
		&:active {
			outline: none;
			background-color: #E5E5E5;
		}

		@media (min-width: $size-m) {
			padding: 0;

			&:hover,
			&:focus,
			&:active {
				background: none;
			}

			&:hover {
				color: $color-accent;
			}
		}
	}
}

.nav__hamburger {
	position: relative;
	z-index: 2;
	display: flex;
	margin-left: auto;

	width: 44px;
	height: 37px;
	background-color: $color-black;

	cursor: pointer;

	&.show {
		span {
			background-color: transparent;

			&::before {
				transform: rotate(45deg) translate(2px, 2px);
			}

			&::after {
				transform: rotate(-45deg) translate(1px, -1px);
			}
		}
	}

	span {
		position: relative;

		margin: auto;
		width: 17px;
		height: 2px;
		background-color: $color-white;
		transition: background-color .2s;

		&::before,
		&::after {
			content: '';
			position: absolute;
			left: 0;
			width: 17px;
			height: 2px;
			background-color: $color-white;
			transition: transform .2s, top .2s linear, bottom .2s;
		}

		&::before {
			top: -2px;
			transform: translateY(-2px);
		}

		&::after {
			bottom: -2px;
			transform: translateY(2px);
		}
	}

	@media (min-width: $size-m) {
		display: none;
	}
}