.section__posts {
	margin-top: 42px;
	margin-bottom: 43px;

	@media (min-width: $size-m) {
		margin-bottom: 59px;
	}

	@media (min-width: $size-m) {
		margin-bottom: 69px;
	}
}

.posts {}

.posts__title {
	margin-bottom: 23px;

	@media (min-width: $size-m) {
		margin-bottom: 24px;
	}
}

.posts__wrapper {
	display: grid;
	gap: 32px;

	@media (min-width: $size-l) {
		grid-template-columns: 1fr 1fr;

		column-gap: 55px;
	}
}

.posts__post {

	&:nth-of-type(n + 4) {
		display: none;
	}

	@media (min-width: $size-m) {
		gap: 20px;

		&:nth-of-type(n) {
			@include flex;
		}
	}

	@media (min-width: $size-l) {}
}

.posts__post-img {
	display: block;
	width: 160px;
	height: 140px;
}

.posts__post-content {
	margin-top: 11px;

	@media (min-width: $size-m) {
		flex-basis: 404px;
	}
}

.posts__post-title {
	margin: 0;
	font-weight: 700;
	font-size: $font-size-smaller;
	line-height: 30px;

	color: $color-text-darkest;

	@media (min-width: $size-m) {
		font-size: $font-size;
	}
}

.posts__post-categories,
.posts__post-comments {
	font-size: $font-size-smallest;
	line-height: 20px;

	color: $color-text-dark;

	@media (min-width: $size-m) {
		font-size: $font-size-small;
	}
}

.posts__post-comments {
	&::before {
		content: "/";
		margin: 0 8px;
	}
}

.posts__post-text {
	display: none;
	margin-top: 8px;

	@media (min-width: $size-m) {
		display: block;

		font-size: $font-size-smaller;
		line-height: 26px;

		color: $color-text-darker;
	}
}