.shots {
	padding-top: 38px;
	padding-bottom: 42px;

	&__container {
		padding-right: 10px;
	}

	@media (min-width: $size-m) {
		padding-top: 47px;
		padding-bottom: 50px;

		background-color: #f7f7f7;
	}
}

.shots__heading {
	margin-bottom: 13px;

	@media (min-width: $size-m) {
		@include flex (row, space-between, center);

		margin-bottom: 35px;
	}

	@media (min-width: $size-l) {
		margin-bottom: 24px;
	}
}

.shots__title {
	margin: 0;
}

.shots__cta {
	display: none;

	@media (min-width: $size-m) {
		display: block;

		font-weight: 700;
		font-size: 13px;
		line-height: 22px;
		text-transform: uppercase;

		color: $color-text-darkest;

		&::after {
			content: " -";
		}
	}
}

.shots__wrapper {
	@include flex(row, flex-start, center);
	gap: 9px;
}

.shots__img-wrapper {
	display: none;

	&:first-child {
		display: block;
	}

	@media (min-width: $size-m) {
		&:not(:last-child) {
			width: 100%;
			display: block;
		}
	}

	@media (min-width: $size-l) {
		&:nth-child(n) {
			width: 100%;
			display: block;
		}
	}
}

.shots__img {
	display: block;
	width: 100%;
	height: auto;

	// &:first-child {
	// 	display: block;
	// }

	// @media (min-width: $size-m) {
	// 	&:not(:last-child) {
	// 		display: block;
	// 	}
	// }

	// @media (min-width: $size-l) {
	// 	&:nth-child(n) {
	// 		display: block;
	// 	}
	// }
}