*,
*::before,
*::after {
	box-sizing: border-box;
}

h2::selection,
div::selection,
span::selection,
h3::selection,
p::selection,
li::selection {
	background-color: rgb(223, 145, 0);
}

.body {
	background-color: rgb(19, 19, 19);
	background-image: url('https://wallpaper.dog/large/17272126.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	color: #fff;
}

.container {
	margin: 0 auto;
	max-width: 1030px;
}

.films {
	padding: 15px;
}

.films__title {
	margin: 0;
	text-align: center;
	font-size: 2rem;
}

.films__wrapper {
	margin-top: 20px;
}

.film {
	padding: 1.5rem;

	background: rgba(255, 255, 255, 0.1);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	border: 1px solid rgba(255, 255, 255, 0.1);

	transition: background .2s;
}

.film:hover {
	background: rgba(255, 255, 255, 0.11);
}

.film:not(:first-child) {
	margin-top: 30px;
}

.film__title {
	margin: 5px 0 0 0;
	font-size: 2rem;
}

.film__episode {
	font-size: 1.25rem;
}

.film__introduction {
	margin: 10px 0;
}

.characters__title {
	font-size: 1.25rem;
	font-weight: bold;
}

.characters__list {
	margin: 10px 0 0 0;
	padding: 0;
	list-style: none;
	display: flex;
	gap: 10px;
	flex-wrap: wrap;
}

.character {
	padding: .5rem 1rem;
	background-color: rgba(0, 0, 0, 0.5);
	border: 1px solid rgba(255, 255, 255, 0.15);
	border-radius: 20px;

	transition: background-color .2s;
}

.character:hover {
	background-color: rgba(0, 0, 0, 0.3);
}

.characters__loader {
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 80px;
	height: 80px;
}

.characters__loader div {
	position: absolute;
	width: 6px;
	height: 6px;
	background: #fff;
	border-radius: 50%;
	animation: characters__loader 1.2s linear infinite;
}

.characters__loader div:nth-child(1) {
	animation-delay: 0s;
	top: 37px;
	left: 66px;
}

.characters__loader div:nth-child(2) {
	animation-delay: -0.1s;
	top: 22px;
	left: 62px;
}

.characters__loader div:nth-child(3) {
	animation-delay: -0.2s;
	top: 11px;
	left: 52px;
}

.characters__loader div:nth-child(4) {
	animation-delay: -0.3s;
	top: 7px;
	left: 37px;
}

.characters__loader div:nth-child(5) {
	animation-delay: -0.4s;
	top: 11px;
	left: 22px;
}

.characters__loader div:nth-child(6) {
	animation-delay: -0.5s;
	top: 22px;
	left: 11px;
}

.characters__loader div:nth-child(7) {
	animation-delay: -0.6s;
	top: 37px;
	left: 7px;
}

.characters__loader div:nth-child(8) {
	animation-delay: -0.7s;
	top: 52px;
	left: 11px;
}

.characters__loader div:nth-child(9) {
	animation-delay: -0.8s;
	top: 62px;
	left: 22px;
}

.characters__loader div:nth-child(10) {
	animation-delay: -0.9s;
	top: 66px;
	left: 37px;
}

.characters__loader div:nth-child(11) {
	animation-delay: -1s;
	top: 62px;
	left: 52px;
}

.characters__loader div:nth-child(12) {
	animation-delay: -1.1s;
	top: 52px;
	left: 62px;
}

@keyframes characters__loader {

	0%,
	20%,
	80%,
	100% {
		transform: scale(1);
	}

	50% {
		transform: scale(1.5);
	}
}