.footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	padding: 20px;

	box-shadow: 0 -2px 10px rgb(0, 0, 0, .2);
}

.footerInner {
	margin: 0 auto;
	max-width: 1460px;
}

.total {
	font-size: 1.25rem;

	span {
		font-weight: bold;
	}
}