:root {
	--border-color: hsl(210, 100%, 60%);
	--border-color--hover: hsl(210, 100%, 45%);
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
	margin: 0;
	padding: 0;
	font-weight: normal;
}

a {
	color: inherit;
	text-decoration: none;
}

ol,
ul {
	list-style: none;
}

img {
	max-width: 100%;
	height: auto;
}

body {
	font-family: sans-serif;
}

.body {
	padding: 20px;
	height: 100vh;
	display: grid;
	justify-content: center;
	justify-items: center;
	gap: 25px;
	grid-template-columns: 1fr;
	grid-template-rows: 40% 1fr;
	background-color: hsl(0, 0%, 90%);
}

.find__btn-wrapper {
	display: flex;
}

.find__btn {
	align-self: end;
	border-radius: 20px;
	border: 1px solid var(--border-color);
	background-color: hsl(210, 100%, 50%);
	color: #fff;
	font-size: 1.25rem;
	padding: 15px 25px;
	box-shadow: 0 0 10px 0 hsl(210, 100%, 50%);
	cursor: pointer;
	transition: background-color .2s;
}

.find__btn:hover {
	background-color: var(--border-color--hover);
}

.find-output__wrapper {
	border-radius: 20px;
	border: 1px solid var(--border-color);
	max-width: 300px;
	width: 100%;
	background-color: hsl(0, 0%, 90%);
	align-self: start;
}

.find-output__table {
	border-collapse: collapse;
	width: 100%;
}

.find-output__ip-title {
	font-weight: bold;
	margin-right: 5px;
}

.find-output__table tbody tr {
	border-top: 1px solid var(--border-color);
}

.find-output__table th {
	width: 120px;
	border-right: 1px solid var(--border-color);
}

.find-output__table th,
.find-output__table td {
	padding: 10px;
	text-align: center;
}