.controler {
	margin-bottom: 20px;
}

.label {
	display: block;
	margin-bottom: .25rem;
}

.field {
	display: block;
	width: 100%;
	padding: .5rem .75rem;
	border: 1px solid #ccc;
	border-radius: .25rem;

	&:invalid {
		border: 1px solid red;

	}

	&:focus {
		outline: none;
	}
}

.error {
	display: block;
	margin-top: 5px;
	color: rgb(148, 2, 2);
}