html.modal-active {
	overflow: hidden;
}

.main {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 20px;
}

.container {
	max-width: 1460px;
	width: 100%;
	margin: 0 0 20px;
}

.section__cards {
	margin: 10px;
}

.section__title {
	font-size: 30px;
}

.section__empty {
	text-align: center;
	font-size: 1.75em;
}